.shop___main{
    width: 100%;
}
.shop__left_block{
    background: #fbfbfc;
}
.shop__right_block{
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0, rgba(0, 0, 0, 0.227451) -2px 0 30px;
}
