.grid__item {
    height: 50px;
    background: #fff;
    border-bottom: 1px dotted #eee;
    align-items: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0, rgba(0, 0, 0, 0.227451) 0 5px 10px;
}

.grid__item .row {
    width: 100%;
}

.grid__item .row > div {
    padding-left: 15px;
}

.grid .grid__detail.row {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -15px !important;
    margin-right: -15px !important;
    background: #fff;
    border-bottom: 1px dotted #eee;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0, rgba(0, 0, 0, 0.227451) 0 5px 10px;
}