.grid__navbar {
    height: 50px;
    background: #fff;
    align-items: center;
    padding: 0 5px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.grid__arrow {
    padding-right: 14px;
    position: relative;
}
.grid__arrow::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    border-top: 5px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}