@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic');

.react-datepicker__input-container {
    width: 100%;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
#wrapper {
    background: rgb(93, 100, 116);
}

::-webkit-scrollbar-button {
    height: 0;
}
::-webkit-scrollbar-track {
    background: #bebebe
}
::-webkit-scrollbar-track-piece {
    background: #bebebe
}
::-webkit-scrollbar-thumb {
    background: #6c6c6c;
}
::-webkit-scrollbar {
    width: 4px;
    height: 7px;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans',sans-serif !important;
    font-size: 13px;
    color: #333 !important;
    min-width: 1024px;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0
}

a {
    font-weight: 400;
    text-decoration: none;
    color: #129fdd;
    cursor: pointer;
}

label, button, input, span {
    font-size: 13px !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

strong {
        font-weight: 600;
}

.dottedList {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 0;
}
.dottedList:after {
    content: "";
    background-image: url(../components/Images/dot.png);
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 0;
    right: 0;
}

.dottedListSpec {
    width: 100%;
    padding: 10px 0;
    position: relative;
}
.dottedListSpec:last-child:after {
    background-image: none;
}
.dottedListSpec:after {
    content: "";
    background-image: url(../components/Images/dot.png);
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 30px;
    right: 30px;
}

hr.lineDote {
    height: 2px;
    border: none;
    margin: 0;
    background-image: url(../components/Images/dot.png);
}
.notificationText {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.greenFont {color:#81c784 !important;}
.greenFont svg {color:#81c784 !important;}
.redFont {color:#e57373 !important;}
.redFont svg {color:#e57373 !important;}
